*{
    padding: 0px;
    margin: 0px;
}
body{
text-align: center;
background-color: #03254e;
font-family: "Poppins";
color: antiquewhite;
}
.msg{
    text-align: center;
    font-family: "Poppins";
    margin: 5em 0 2em;
    color: antiquewhite;

}
.images{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height:200px;
    margin-top: 2em ;
    margin-bottom: 2em;
    
}
.computerimg,.playerimg{
width: 75%;
}
.shakecomp {
    animation: compshake 0.8s linear;
}

.shakeplayer{
    animation: compshake 0.8s linear;
}
.points{
margin: 2em 0;
text-align: center;
font-size:xx-large;
}
.compPoints{
margin-left: 3em;
}
.playerPoints{
    margin-right: 3em;
}
.options{
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    font-size:xx-large;
}
.options button{
    padding: 15px ;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    border:none;
    font-size: x-large;
    margin-bottom: 70px;

}
.options button:hover{
    background-color: #545677;
    color: aliceblue;
    transform: scale(1.1);
    border: none;
}
.start{
    height:100vh;
    text-align: center;
    font-family: "Poppins";
    margin: 15em 0 2em;
    color: antiquewhite;

}
.btn{
   text-align: center;
    font-family: "Poppins";
    margin:2em 0 2em;
    font-size:x-large;
    cursor: pointer;
    padding:15px;
    width: 150px;
    font: bolder;
}
html{
    scroll-behavior: smooth;
}
@keyframes compshake {
    0%{
        transform: rotate(30deg);
    }
    30%{
        transform: rotate(-30deg);
    }
    60%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
    
}
